:host {
  --app-profile-card-image-size: 3.5rem;
  --app-profile-card-ng-grid-row-position: 2 / 4;
  --app-profile-card-ng-grid-column-position: 2 / 3;
}

.profile-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  align-items: start;
  justify-content: flex-start;
  gap: var(--app-spacing-0) var(--app-spacing-md);

  img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: var(--app-profile-card-image-size);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--app-radius-round);
  }
  h6 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}


:host(.small) {
  --app-profile-card-image-size: 2.2rem;
  //   --app-spacing-xs: 0;

  h6 {
    --app-font-size: var(--app-font-size-xs);
  }
}
