:host {
  --app-footer-background-color: var(--app-color-gray-50);
  --app-footer-text-color: var(--app-color-gray-90);
  --app-footer-padding: var(--app-spacing-xs) var(--app-spacing-xs) var(--app-spacing-lg);
  --app-footer-filter: drop-shadow(0 -44px 30px rgb(0, 0, 0));
}

.footer {
  inline-size: 100vw;
  box-sizing: border-box;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: var(--app-footer-filter);
    pointer-events: none;
    background-color: var(--app-color-background);
    z-index: 0;
  }
}

.actions {
  box-sizing: border-box;
  padding: var(--app-footer-padding);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--app-spacing-xs);
  align-items: end;
  z-index: 1;
}

menu {
  background-color: var(--app-footer-background-color);
  margin: 0;
  padding: var(--app-footer-padding);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  position: relative;
  z-index: 1;
}
