@import 'colors/main.css';
@import 'fonts/main.css';
@import 'spacing/main.css';
@import 'outline/main.css';

:root {
  --app-main-blur: blur(4px);
  --app-main-transition-fast: all 0.3s ease;
}

[sr-only] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
