:root {
  --app-font-size-xs: 0.875rem;
  --app-font-size-md: 1rem;
  --app-font-size-lg: 1.25rem;
  --app-font-size-xl: 1.5rem;
  --app-font-size-xxl: 1.75rem;
  
  --app-font-size: var(--app-font-size-md);
}

:where(h1, h2, h3, h4, h5, h6, p, span, a) {
  --text-ratio: 1.2;
  --line-height-factor: 1.3;

  margin: 0;
  margin-block-end: 0.5rem;

  font-size: var(--app-font-size);
  line-height: var(--line-height-factor); /* https://www.w3.org/TR/WCAG21/#text-spacing */
  letter-spacing: calc(1rem * 0.12); /* https://www.w3.org/TR/WCAG21/#text-spacing */
  word-spacing: calc(1rem * 0.16); /* https://www.w3.org/TR/WCAG21/#text-spacing */
}
h1 {
  --app-font-size: calc(1rem * pow(var(--text-ratio), 6));
}
h2 {
  --app-font-size: calc(1rem * pow(var(--text-ratio), 5));
}
h3 {
  --app-font-size: calc(1rem * pow(var(--text-ratio), 4));
}
h4 {
  --app-font-size: calc(1rem * pow(var(--text-ratio), 3));
}
h5 {
  --app-font-size: calc(1rem * pow(var(--text-ratio), 2));
}
h6 {
  --app-font-size: calc(1rem * var(--text-ratio));
}

:where(span, a) {
  --app-font-size: 1.125rem;
}
