@import 'variables.css';
@import 'font-faces.css';
@import 'font-sizes.css';

:root {
  --app-font-family-roboto: 'Roboto', sans-serif;
  --app-font-family-monospace: monospace;
  --app-font-family: var(--app-font-family-roboto);

  --app-font-weight-regular: 400;
  --app-font-weight-medium: 500;
  --app-font-weight-bold: 700;

  --app-font-weight: var(--app-font-weight-regular);
}
