:host {
}

.sign-container {
  display: flex;
  flex-direction: column;

  span {
    display: inline-flex;
    align-items: center;
    gap: var(--app-spacing-xs);
    img {
      border-radius: var(--app-radius-md);
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }
}
