:host {
  --app-profile-image-size: 5rem;
  --app-profile-background-color: var(--app-color-gray-10);
  --app-profile-transition: all 0.6s ease-in-out;

  block-size: 100%;
  inline-size: 100%;
  padding: var(--app-page-padding);
  box-sizing: border-box;
  overflow: auto;
  display: block;
}

.profile-page {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-xxl);

  header {
    display: flex;
    flex-direction: row;
    gap: var(--app-spacing-lg);

    img {
      inline-size: var(--app-profile-image-size);
      block-size: var(--app-profile-image-size);
      object-fit: cover;
      object-position: center;
      border-radius: var(--app-radius-round);
    }
  }
  main {
    transition: var(--app-profile-transition);
    background: var(--app-profile-background-color);
    padding: var(--app-spacing-md);
    border-radius: var(--app-radius-lg);
    & > span {
      display: flex;
      flex-direction: row;
      gap: var(--app-spacing-xxs);
      flex-wrap: wrap;

      & > :first-child {
        inline-size: 100%;
      }
    }

    details {
      summary {
        display: flex;
        gap: var(--app-spacing-xs);
        // flex-wrap: wrap;
        flex-direction: column;
      }
      [content] {
        transition: var(--app-profile-transition);

        span {
          display: flex;
          flex-wrap: wrap;
          gap: var(--app-spacing-xxs);
        }
      }

      &:not(:has([open])) {
        [status]::after {
          content: 'Show more';
        }
        [content] {
          height: 0;
          overflow: hidden;
        }
      }
      &[open] {
        [status]::after {
          content: 'Show less';
        }
        [content] {
          padding-top: var(--app-spacing-md);
          height: fit-content;
        }
      }
    }
  }
}
